
    <h1>Fuel Consumption App</h1>

    <!-- Form to add a new vehicle -->
    <form action="/addvehicle" method="post">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <label for="regNumber">Registration Number:</label>
        <input type="text" id="regNumber" name="regNumber" required>
        <br>
        <button type="submit">Add Vehicle</button>
    </form>

   
    <table id="vehiclesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Registration_Number</th>
                <th>Total_per_liter</th>
                <th>Total_Amount</th>
                <th>Total_distance_travelled</th>
                <th>Fuel_Consumption</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
           {{this.distance}}
            {{/each}}
        </tbody>
    </table>

