
    <form action="/trip" method="post">

        <h1>Vehicle Information</h1>
        <div class="vehicle-info" id="vehicleInfo">

            {{#each data}} 
            {{this.liters}}
            {{/each}}
            </div>
    </form>



